In [1]:
import numpy as np
import pandas as pd

df_metricas = pd.read_csv("../csv/clases_metricas_eps.csv")
df_metricas

   numero  accuracy  precision    recall  f1-score
0       0  0.996190   0.974537  0.988263  0.981352
1       1  0.995476   0.969136  0.991579  0.980229
2       2  0.992857   0.961395  0.963795  0.962594
3       3  0.990714   0.962069  0.948980  0.955479
4       4  0.992143   0.963885  0.954377  0.959108
5       5  0.992381   0.964626  0.949130  0.956815
6       6  0.996310   0.973934  0.989170  0.981493
7       7  0.992619   0.965986  0.963801  0.964892
8       8  0.990357   0.962773  0.935162  0.948767
9       9  0.987143   0.931604  0.940476  0.936019

In [2]:
df_epsilons = pd.read_csv("../csv/expEpsilon3.csv")
df_epsilons[['epsilon', 'accuracy', 'standard deviation']]

   epsilon  accuracy  standard deviation
0        1  0.963976            0.001633
1        2  0.963929            0.001147
2        3  0.964071            0.001170
3        4  0.964024            0.001272
4        5  0.964048            0.001308
5        6  0.964048            0.001308

In [4]:
df_metricas = pd.read_csv("../csv/metricas_3foldexp.csv")
df_metricas

   numero  accuracy  precision    recall  f1-score
0       0  0.996190   0.974537  0.988263  0.981352
1       1  0.995476   0.969136  0.991579  0.980229
2       2  0.992857   0.961395  0.963795  0.962594
3       3  0.990714   0.962069  0.948980  0.955479
4       4  0.992143   0.963885  0.954377  0.959108
5       5  0.992381   0.964626  0.949130  0.956815
6       6  0.996310   0.973934  0.989170  0.981493
7       7  0.992619   0.965986  0.963801  0.964892
8       8  0.990357   0.962773  0.935162  0.948767
9       9  0.987143   0.931604  0.940476  0.936019